---
# Install standard software packacges

- name: Upgrade system
  pacman:
    update_cache: yes
    upgrade: yes

- name: Install software
  pacman:
    name: |
      alsa-utils
      arch-install-scripts
      firefox
      gdisk
      gvim
      openssh
      os-prober
      rsync
      sudo
      ttf-dejavu
      wget
      xterm
    state: present
