---
# Install standard software packacges

- name: Upgrade system
  pacman:
    update_cache: yes
    upgrade: yes

- name: Install software
  pacman:
    name: firefox, ttf-dejavu, gdisk, arch-install-scripts, os-prober, openssh, vim, sudo, xterm, alsa-utils
    state: present
