---
# Install GUI for ArchLinux

- name: Include vars file
  include_vars:
    file: ./vars/main.yaml

- name: Upgrade system
  pacman:
    update_cache: yes
    upgrade: yes

- name: Install windows manager
  pacman:
    name: xorg, lxdm, lxde, lxrandr
    state: present

- debug:
    msg: 'pacman pkgs: {{ lookup("flattened", pmlist) }}'

- name: Install additional utilities
  pacman:
    name: '{{ lookup("flattened", pmlist) }}'

- name: Enable lxdm
  systemd:
    name: lxdm
    enabled: yes

- name: Set udev rules for backlight
  copy:
    src: files/90-backlight.rules
    dest: /etc/udev/rules.d/90-backlight.rules
    mode: 0644

- name: Set keyboard
  copy:
    src: files/00-keyboard.conf
    dest: /etc/X11/xorg.conf.d/00-keyboard.conf
    mode: 0644

    #- name: Specify correct directory for backlight
    #  copy:
    #    src: files/20-intel.conf
    #    dest: /etc/X11/xorg.conf.d/20-intel.conf
    #    mode: 0644

- name: Set trackpoint acceleration
  copy:
    src: files/90-input.sh
    dest: /etc/X11/xinit/xinitrc.d/90-input.sh
    mode: 0755

# dunst notification daemon
- name: Copy dunst config file into /etc
  copy:
    src: /usr/share/dunst/dunstrc
    dest: /etc/xdg/dunst/dunstrc
    mode: 644
    force: no

- name: Set icon_path in dunstrc
  ini_file:
    path: /etc/xdg/dunst/dunstrc
    section: global
    option: icon_position
    value: left

- name: Set icon_path in dunstrc
  ini_file:
    path: /etc/xdg/dunst/dunstrc
    section: global
    option: icon_path
    value: /usr/share/icons/Adwaita/16x16/devices/:/usr/share/icons/Adwaita/16x16/status/

- name: Set background colour for urgency_normal
  ini_file:
    path: /etc/xdg/dunst/dunstrc
    section: urgency_normal
    option: background
    value: '"#939310"'
