SUBSYSTEM=="backlight", ACTION=="add", \
  RUN+="/bin/chgrp users /sys/class/backlight/%k/brightness", \
  RUN+="/bin/chmod g+w /sys/class/backlight/%k/brightness"
